@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.about{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 37vw 54vw;
    color: white;
}

.about .left{
    font-size: 5.5vw;
    font-weight: 700;
    padding-top: 6.8vw;
    padding-left: 4.6vw;
    line-height: 5.5vw;
}
.about .logo img{
    height: 30vw;
    width: 30vw;
    object-fit: contain;
}
.about .right{
    font-family: 'Poppins', sans-serif;
    margin-top: 9vw;
    padding-left: 2vw;
    font-size: 1.9vw;
    font-weight: 600;
    line-height: 6vh;
    text-align:justify;
}
@media screen and (max-width:848px){
    .about .right{
        font-size: 2.5vw;
        line-height: 4vw;
    }
}
@media screen and (max-width:650px){
    .about .right{
        font-size: 2.8vw;
        line-height: 5vw;
    }
}
@media screen and (max-width:484px){
    .about .right{
        font-size: 3.5vw;
        line-height: 5.5vw;
    }
}
@media screen and (max-width:360px) {
    .about{
        display: flex;
        flex-direction: column;
        height: 120vh;
    }
    .about span{
        display: none;
    }
    .about .left img{
        height: 33vh;
        width: 33vh;
    }
    .about .left{
        font-size: 6vh;
        line-height: 6vh;
    }
    .about .right{
        font-size:5vw;
        line-height: 4vh;
        padding: 0 15px 0 15px;
    }
}