.contain {
    position: relative;
    /* width: 1927px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    margin-left: 4%;
    margin-right: 4%;
   height: 100vh;
}


.description {
    /* position: relative; */
    /* Set font-related styles, text content, and color */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 4vh;
    line-height: 5.5vh;
    /* text-align: justify; */
    color: #F8F8F8;
    flex: 1 1 300px;
}

.shilp_logo{
    flex: 0 0 auto; /* Prevent image from stretching */
    margin-right: 20px;
    width: 500px;
}

.shilp-logo img{
    width: 30vw;
}


@media screen and (max-width: 1200px) {
    .contain {
        flex-direction: row; /* Stack elements in a column */
        align-items: center; /* Center align items */
    }

    .shilp-logo,
    .description {
        flex: 0 0 auto; /* Reset flex properties to default */
        text-align: center; /* Align text to the left */
        /* margin-left: 4%; */
        /* margin-right: 4%; */
    }

    .description{
        width: 100%;
        margin-bottom: 0px;
        font-size: 2vh;
        line-height: normal;
        text-align: justify;
        padding-left: 4%;
        padding-right: 4%;
    }
    
    .shilp-logo {
        width: 100%; /* Reset width */
        margin-bottom: 48px; /* Add spacing below the centered image */

    }
    .shilp-logo img{
        width: 80%;
    }
}
