.contain {
    position: relative;
    /* width: 1927px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
    margin-left: 4%;
    margin-right: 4%;
   height: 100vh;
}


.description {
    /* position: relative; */
    /* Set font-related styles, text content, and color */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 35px;
    /* text-align: justify; */
    color: #F8F8F8;
    flex: 1 1 300px;
    
}

.shilp_logo{
    flex: 0 0 auto; /* Prevent image from stretching */
    margin-right: 20px;
    
}

.shilp-logo img{
    width: 400px;
}

