@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap');


.civilexpo{
    height: 60%;
    width: 80%;
    margin: auto;
    padding: 0 5vw 1vw 5vw;
}

.civilexpo .main{
    max-height: 100%;
    background: linear-gradient(251.9deg, rgba(76, 18, 77, 0.65) -6.07%, rgba(13, 4, 27, 0.65) 47.04%, rgba(70, 18, 72, 0.65) 86.81%);
    border-radius: 50px;
    border-top:4px solid rgba(255, 255, 255, 0.06);
    display: flex;
    flex-direction: column;

}

.civilexpo .main .heading{
    color: #D12156;
    font-size: 7.7vw;
    font-weight: 700;
    line-height: 11vw;
    font-family: 'Poppins', sans-serif;
}
.civilexpo .main .expo-gallery-row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;padding: 0;
    margin-top: 50px;
}
.civilexpo .main .expo-gallery-row2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;padding: 0;
}
.card{
    margin: 20px;
}

@media screen and (max-width:900px){
    .civilexpo{
        height: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .civilexpo .main .card{
        width: 90%;
    }
    
}
@media screen and (max-width:525px){
    .civilexpo{
        height: 100%;
        width: 85%;
    }
    .civilexpo .main .heading{
        padding-top: 8vw;
        font-size: 12vw;
        margin-bottom: 16vw;
    }
}
@media screen and (max-width:360px){
    .civilexpo{
        height: 100%;
        width: 80%;
    }
    .civilexpo .main .heading{
        padding-top: 8vw;
        font-size: 10vw;
        margin-bottom: 0;
    }
}