@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,700&display=swap');


.civilexpo{
    height: 60%;
    width: 80%;
    margin: auto;
    padding: 0 5vw 1vw 5vw;
}
.civilexpo .main{
    height: 100%;
    background: linear-gradient(251.9deg, rgba(76, 18, 77, 0.65) -6.07%, rgba(13, 4, 27, 0.65) 47.04%, rgba(70, 18, 72, 0.65) 86.81%);
    border-radius: 50px;
}

.civilexpo .main .heading{
    color: #D12156;
    font-size: 7.7vw;
    font-weight: 700;
    line-height: 11vw;
    font-family: 'Poppins', sans-serif;
}
.expo-gallery-row1{
    margin-top: 2vw;
    display: flex;
    justify-content:space-around;
}
.expo-gallery-row2{
    margin-top: 6vw;
    display: flex;
    justify-content:space-around;
}
.event{
    text-align: center;
    color: white;
    margin-left: 3vw;
    font-size: 3vw;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
.civilexpo .main img{
    margin-top: 0.7vw;
    margin-bottom: 2vw;
    height: 20vw;
    width: 20vw;
}
.buttons{
    display: flex;
    justify-content: space-around;
    
}
.register{
    height: 5vh;
    width: 5vw;
    background: rgba(54, 24, 68, 1);
    border-radius: 200px;
    color: rgba(255, 255, 255, 1);
    font-size: 1.25vw;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    opacity: 0.6;
    width: 8vw;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
}
.register:hover{
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.75);
    transition: 0.5s;
}
.explore{
    background: rgba(54, 24, 68, 1);
    border-radius: 200px;
    color: rgba(255, 255, 255, 1);
    font-size: 1.25vw;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    opacity: 0.6;
    width: 8vw;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
}
.explore:hover{
    transform: scale(1.1);
    opacity: 0.8;
    box-shadow: 2px 2px 4px 0px rgba(255, 255, 255, 0.75);
    transition: 0.5s;
}

@media screen and (max-width:900px){
    .civilexpo{
        height: 65%;
    }
    .expo-gallery-row1 .event .event-name{
        margin-top: 6vw;
        font-size: 4vw;
        margin-bottom: 3vw;
    }
    .expo-gallery-row2 .event .event-name{
        margin-top: 10vw;
        font-size: 4vw;
        margin-bottom: 3vw;
    }
    .civilexpo .main img{
        margin-top: 2vw;
        height: 35vw;
        width: 30vw;
    }
    .civilexpo .buttons{
        margin-top: 3vw;
    }
    .civilexpo .register{
        font-size: 2.4vw;
        width: 14vw;
    }
    .civilexpo .explore{
        font-size: 2.4vw;
        width: 14vw;
    }
}
@media screen and (max-width:525px){
    .civilexpo{
        height: 55%;
        width: 85%;
    }
    .civilexpo .main .heading{
        padding-top: 8vw;
        font-size: 12vw;
        margin-bottom: 16vw;
    }
    .expo-gallery-row1 .event .event-name{
        font-size: 5vw;
        margin-bottom: 3vw;
    }
    .expo-gallery-row2 .event .event-name{
        margin-top: 0;
        font-size: 5vw;
        margin-bottom: 3vw;
    }
    .civilexpo .main img{
        margin-top: 2vw;
        height: 42vw;
        width: 35vw;
    }
    .expo-gallery-row2{
        margin-top: 35vw;
    }
    .civilexpo .buttons{
        margin-top: 4vw;
    }
    .civilexpo .register{
        font-size: 2.8vw;
        width: 16vw;
    }
    .civilexpo .explore{
        font-size: 2.8vw;
        width: 16vw;
    }
}
@media screen and (max-width:360px){
    .civilexpo{
        height: 60%;
        width: 80%;
    }
    .civilexpo .main{
        height: 105%;
    }
    .civilexpo .main .heading{
        padding-top: 8vw;
        font-size: 10vw;
        margin-bottom: 0;
    }
    .expo-gallery-row1{
        display: flex;
        flex-direction: column;
    }
    .expo-gallery-row1 .event .event-name{
        padding-top: 15vw;
        font-size: 6vw;
        margin-top: 0;
    }
    .expo-gallery-row2{
        display: flex;
        flex-direction: column;
        margin-top: -10vw;
    }
    .expo-gallery-row2 .event .event-name{
        padding-top: 10vw;
        font-size: 8vw;
    }
    
    .civilexpo .main img{
        margin-top: 2vw;
        height: 35vw;
        width: 40vw;
    }
    .civilexpo .buttons{
        margin-bottom: 10vw;
        display: flex;
    }
    .civilexpo .register{
        font-size: 2.8vw;
        width: 18vw;
    }
    .civilexpo .explore{
        margin-left: -18vw;
        font-size: 2.8vw;
        width: 18vw;
    }
}