#contact{
    background-image: url(../img/Clubs.png);
}

.top{
    height: auto;
    display: flex;
    justify-content: center;
    color: red;
    height: 4vw;
    font-weight: 800 !important;
    font-size: 7vw !important;
    padding-top: 2vw;
    padding-bottom: 8vw;
    margin-bottom: 4vw;
}


.details{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 15vw;
    margin-right: 15vw;
    border: 1px rgb(44, 42, 42) solid;
    border-radius: 8px;
    margin-bottom: 1vw;
    
}


.col2{
    
    display: flex;
    justify-content: center;
    width: 30%;
}

.topp{
    font-size: 3vw;
    font-weight: 700;
    opacity: 0;
    animation: display 0.5s ease-in-out forwards;
}
.s-no1{
    opacity: 0;
    animation: display 0.5s 0.2s ease-in-out forwards;
}
.s-no2{
    opacity: 0;
    animation: display 0.5s 0.4s ease-in-out forwards;
}
.s-no3{
    opacity: 0;
    animation: display 0.5s 0.6s ease-in-out forwards;
}
.s-no4{
    opacity: 0;
    animation: display 0.5s 0.8s ease-in-out forwards;
}
.s-no5{
    opacity: 0;
    animation: display 0.5s 1s ease-in-out forwards;
}
.s-no6{
    opacity: 0;
    animation: display 0.5s 1.2s ease-in-out forwards;
}
.s-no7{
    opacity: 0;
    animation: display 0.5s 1.4s ease-in-out forwards;
}
.s-no8{
    opacity: 0;
    animation: display 0.5s 1.6s ease-in-out forwards;
}

@keyframes display {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.Contacts{
    margin-bottom: 18vw;
}
#mobile-email{
    display: none;
}

@media screen and (max-width: 560px){
    .details{
        margin-left: 2vw;margin-right: 2vw;
    }
    .Contacts{
        width: 100%;
    }
    #desktop-email{
        display: none;
    }
    #mobile-email{
        display: block;
    }
    
}

