@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.imageGallery{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.subtitle{
    color: #9b7fae;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 6vw;
    margin-bottom: 5vh;
}